.details{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

.details__container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    padding: 20px;
    background-color: #111;
}

.details__header{
    display: flex;
    width: 600px;
}

.details__img{
    display: flex;
    position: relative;
    bottom: 40%;
    justify-content: center;
    width: 200px;
    height: 200px;
    margin-right: 50px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 20px 10px #1116;
}

.details__name{
    flex-grow: 1;
}

.details__img img{
    height: 100%;
}

.details__description{
    display: flex;
    position: relative;
    top: -50px;
}