.details{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    margin: auto;
    background-color:#333d;
}

.details__back{
    display: flex;
    width: max-content;
    margin-left: 20px;
    padding: 5px 15px;
    max-width: var(--max-width);
    border-radius: 15px;
    font-size: 25px;
    color: white;
    border-color: #222;
    background-color: #222;
}

.details__back:hover{
    color: var(--color);
}

.details__container{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding: 20px;
    max-width: var(--max-width);
}

.details__img{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
}

.details__img img{
    height: 100%;
}

.details__text{
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-left: 40px;
}