.nav-container{
    background-color: transparent;
    background-color: #222;
}

nav{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    height: 80px;
    max-width: 1400px;
}

.logo-container{
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.logo{
    font-size: 25px;
}

.logo a{
    text-decoration: none;
    color: var(--color);
    transition: 0.2s;
}

.logo-img{
    text-align: left;
    margin-right: 10px;
    height: 40px;
    filter: invert(84%) sepia(66%) saturate(481%) hue-rotate(33deg) brightness(107%) contrast(101%);
}

.text-img{
    position: relative;
    bottom: -3px;
    left: -4px;
}

.text-position{
    position: relative;
    left: -40px;
}

.logo a:hover{
    color: var(--color);
    transition: 0.2s;
}

.logo a:hover .text-img{
    animation: 0.4s ease-in-out flag;
}

@keyframes flag{
    0%{
        top: 0px;
    }
    25%{
        top: -5px;
    }
    50%{
        top: 0;
        transform: scaleY(1);
    }
    75%{
        top: 8px;
        transform: scaleY(0.8);
    }
    100%{
        top: 0px;
        transform: scaleY(1);
    }
}

.logo a:hover .move{
    animation: 0.4s linear globe;
}

@keyframes globe{
    0%{transform: rotate(0deg)}
    30%{transform: rotate(15deg)}
    60%{transform: rotate(-15deg)}
    100%{transform: rotate(0deg)}
}

nav ul{
    display: flex;
    height: 100%;
    list-style: none;
}

.options a{
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 80%;
    text-decoration: none;
    border-radius: 0 0 20px 20px;
    color: white;
    transition: 0.2s;
}

.options a:hover{
    background-color: #fff2;
    color: var(--color);
    transition: 0.2s;
}

.options a:active{
    filter: brightness(80%);
}