nav{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    max-width: 1400px;
}

.logo{
    flex-grow: 1;
    margin-left: 20px;
    font-size: 30px;
}

nav ul{
    display: flex;
    height: 100%;
    list-style: none;
}

.options a{
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 100%;
    text-decoration: none;
    color: white;
}

.option a:hover{
    background-color: #fff;
}

.option a:active{
    filter: brightness(80%);
}