.countries__pages-link{
    margin: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.countries__pages-link a{
    display: inline-block;
    padding: 10px;
    margin: 5px;
    font-size: 15px;
    border-radius: 10px;
    min-width: 20px;
    color: white;
    text-decoration: none;
    border: 1px solid transparent;
    background-color: #222;
}

.countries__pages-link a:hover{
    color: #222;
    background-color: var(--color);
}

.countries__pages-link a:nth-child(2){
    border-color: var(--color);
}

.disabled-link{
    filter:  brightness(50%);
    pointer-events: none;
}

.countries__pages-link span{
    margin: 10px;
}