.add-form{
    display: flex;
    overflow: hidden;
    padding: 10px 0;
}

/* Countries added */
.countries-added{
    display: flex;
    align-items: center;
    padding: 0 10px;
    width: 100%;
    height: 50px;
    width: max-content;
}

.countries-scroll{
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
    background-color: #111;
}

.spacing{margin: 0 5px}

.btn-remove{
    position: absolute;
    display: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    color: var(--color);
    background-color: #222b;
}

.spacing:hover{
    outline: 2px dashed var(--color);
}

.img-container:hover button{
    display: inline-block;
}

/* Countries Panel */
.countries-panel{
    width: 100%;
    height: 335px;
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 0 0 10px 10px;
    background-color: #222;
}

.countries-panel::-webkit-scrollbar{
    width: 10px;
    border-radius: 0 0 10px 0;
    background-color: #282828;
}

.countries-panel::-webkit-scrollbar-thumb{
    width: 5px;
    width: 5px;
    border-radius: 5px;
    background-color: var(--color);
}

.countries-panel::-webkit-scrollbar-thumb:hover{
    filter: brightness(60%);
}

.countries-scroll::-webkit-scrollbar{
    height: 8px;
    background-color: #151515;
}

.countries-scroll::-webkit-scrollbar-thumb{
    height: 5px;
    border-radius: 5px;
    background-color: var(--color);
}

.countries-scroll::-webkit-scrollbar-thumb:hover{
    filter: brightness(60%);
}

.countries-content{
    display: flex;
    align-items: center;
    padding: 10px;
}

.countries-content span{
    flex-grow: 1;
    margin-left: 20px
}

.img-container{
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.img-container img{
    height: 100%;
}

.btn-add{
    padding: 5px 10px;
    border: none;
    color: white;
    background-color: #444;
}

.btn-add:hover{
    outline: 1px solid var(--color);
}

.btn-add:active{
    filter: brightness(60%);
}